/* SHOW GRID */ 
* {
    border: 1px solid red;
}

/* BACKGROUND */ 
.dark-bg {
    background-color: #1F2937;
}

.quote-bg {
    background-color: #E5E7EB;
}

/* TEXT */ 
.main-text,
.logo-text,
.blue-button,
.footer-text {
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
}

.secondary-text,
.link-text {
    color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.link-text {
    text-align: center;
}
.secondary-text {
    margin-top: 2px;
    margin-bottom: 10px;
}

.info-text,
.quote-text,
.middle-text {
    color: #1F2937;
    font-family: 'Roboto', sans-serif;    
}

.info-text {
    font-size: 36px;
    font-weight: bolder; 
    text-align: center;
    margin-bottom: 20px; 
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;  
    font-style: italic;
    text-align: justify;
    padding: 0px 50px 0px 50px;
}

.middle-text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.footer-text {
    font-size: 14px;
    text-align: center;
}

/* BUTTONS */ 
.blue-button {
    background-color: #3882F6;
    font-size: 12px;
    border-radius: 4px;
    border: transparent;
    padding: 5px 10px 5px 10px;
}

/* BOXES */ 

.blue-border {
    border: 3px solid #3882F6;
    border-radius: 20px;
}

.invisible-border {
    border: 3px solid transparent;
}

.flex-container {
    display: flex;    
}

.flex-2 {
    flex: 2;
}

.flex-1 {
    flex: 1;
}

.header,
.top,
.middle,
.footer,
.quote {
    padding: 0px 300px 0px 300px;
    justify-content: center;
    align-items: center;
}

.header,
.footer {
    height: 50px;
}

.top,
.middle,
.quote {
    height: auto;
}

.middle { 
    gap: 40px; 
}

.middle-box {
    width: 150px;
}

.middle-box.blue-border {
    height: 150px;
}

.middle-box.invisible-border {
    height: auto;
}

/* IMAGES */
.img-top {
    height: auto;
    padding: 0px 50px 0px 50px;
    width: 550px;
}

/*

.bottom-author {
    color: #1F2937;
    font-size: 28px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}


.final-container { 
    background-color: #F9FAF8;
    display: flex;
    height: auto;
    padding: 0px 300px 0px 300px;
    justify-content: center;
    align-items: center;
} 

.final-container .final-box {
    flex: 1;
    background-color: #3882F6;
}

*/