/* SHOW GRID */ 
* {
    border: 1px solid red;
}

/* BACKGROUND */ 
.dark-bg {
    background-color: #1F2937;
}

.quote-bg {
    background-color: #E5E7EB;
}

.blue-bg {
    background-color: #3882F6;
}

/* TEXT */ 
.main-text,
.logo-text,
.sign-button,
.footer-text {
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
}

.secondary-text,
.link-text {
    color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.link-text {
    justify-content: center;
    align-items: center;
}

.info-text,
.quote-text,
.middle-text,
.author-text {
    color: #1F2937;
    font-family: 'Roboto', sans-serif;    
}

.info-text {
    font-size: 36px;
    font-weight: bolder; 
    text-align: center;
    margin: 20px 0px 20px 0px; 
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;  
    font-style: italic;
    text-align: justify;
    padding: 0px 50px 0px 50px;
}

.middle-text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.footer-text {
    font-size: 14px;
    text-align: center;
}

.author-text {
    font-size: 26px;
    font-weight: bolder;
    text-align: right;
    padding-right: 100px;
}

/* BUTTONS */ 
.sign-button {
    width: 150px;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    border: 2px solid #F9FAF8;
}

.no_border {
    border-color: transparent;
}

/* BOXES */ 
.column-mode {
    flex-direction: column;
}

.gap-10 {
    gap: 10px;
}

.blue-border {
    border: 3px solid #3882F6;
    border-radius: 20px;
}

.flex-2.blue-bg.sign-box {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.flex-1.blue-bg.sign-box {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.invisible-border {
    border: 3px solid transparent;
}

.flex-container {
    display: flex;    
}

.flex-2 {
    flex: 2;
}

.flex-1 {
    flex: 1;
}

.header,
.top,
.middle,
.footer,
.quote,
.quote-author,
.bottom {
    padding: 0px 300px 0px 300px;
    justify-content: center;
    align-items: center;
}

.header,
.footer {
    height: 50px;
}

.top,
.middle,
.quote,
.quote-author,
.bottom {
    height: auto;
}

.top {
    padding-top: 30px;
    padding-bottom: 30px;
}

.middle { 
    gap: 40px; 
}

.middle-box {
    width: 150px;
}

.middle-box.blue-border {
    height: 150px;
}

.middle-box.invisible-border {
    height: auto;
}

.quote {
    padding-top: 80px;   
}

.quote-author {
    padding-bottom: 80px;    
}

.bottom {
    padding-top: 50px;
    padding-bottom: 50px;    
}

.sign-box {
    padding: 100px;
    height: 20px;
}

/* IMAGES */
.img-top {
    height: auto;
    padding: 0px 50px 0px 50px;
    width: 550px;
}

.img-box {
    max-width: 100%;
    max-height: 100%;
}